 <div class="user-details">
  <h1> About Me </h1>
</div>

<div class="about-description">
  <div class="about-image">
    <img id="profile_pic" style="max-width:300px;max-height:300px;" alt="Profile Photo" src="{{ "/assets/img/me.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="about-contents">
    <h4 style="float:right; margin-left: 5px">Hi there, my name is Thomas Archer. I’m a Computer Science student at Santa Clara University with a focus in software engineering. I have a passion for developing new technologies that improve the lives of those around me. I also love learning new things and the thrill of solving challenging problems.</h4>
  </div>
</div>
<!-- </div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
 -->
