 <div class="user-details">
  <h1> About Me </h1>
</div>

<div class="about-description">
  <div class="about-image">
    <img id="profile_pic" style="border:1px solid #000000;max-width:300px;max-height:300px;border-radius: 50%;display: block;margin-left: auto;margin-right: auto;" alt="Profile Photo" src="{{ "/assets/img/me.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="about-contents">
    <h3 style="font-size:1.5rem; margin:none; font-weight: normal;">My name is Thomas Archer and I am a Computer Science student at Santa Clara University with an emphasis in data science. I have a passion for data analytics and developing technologies that improve the lives of those around me. I’m eager to learn and gain more hands-on experience while applying my skills and education to make impactful insights. <br><br>I have an expertise in data mining, decision analytics, predictive modeling, and project management. I love the thrill of solving challenging problems and implementing innovative solutions. I am proficient in object oriented development and Python is my language of choice. Below you can check out some of my favorite projects that I’ve worked on.</h3>
  </div>
</div>
<!-- </div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
 -->
