<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img id="campscrape_pic" alt="Campground Availability" src="{{ "/assets/img/campground_availability.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-eft">
    <h3> CampScrape </h3>
    <p>A python script that allows the user to reserve campsites at popular campgrounds on short notice. Uses BeautifulSoup to web-scrape the recreation.gov website, then quickly notifies the user via slack or email when a campsite becomes available. Run using a cronjob on an AWS EC2 instance.</p>
    <a class="project-link" target="_blank" href="https://github.com/thomas-archer/CampScrape">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="notebook" src="{{ "/assets/img/notebook_pic2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Liver Patient Data Analysis </h3>
    <p>Notebook written in python that explores data collected from Indian liver patients. In addition to describing the data and generating several visualizations to make observations, it also applies several machine learning models to attempt to predict whether or not a patient has a liver disease.</p>
    <a class="project-link" target="_blank" href="https://github.com/thomas-archer/Other-Projects/blob/master/LiverPatientAnalysis.ipynb">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="ticketlotto" src="{{ "/assets/img/ticketlotto_pic.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> TicketLotto (WIP) </h3>
    <p>Working with a team to develop an event management system that allows ticket sellers to distribute tickets randomly and manage a waitlist for at-capacity events. Integrated with Eventbrite API for ticket sales. Developed in HTML, CSS, PHP, Javascript and SQL. Hope to be able to provide on-campus organizations with the ability to effectively select and manage participants.</p>
    <a class="project-link" target="_blank" href="https://github.com/thomas-archer/Ticket-Lotto">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="birdwatch" src="{{ "/assets/img/birdwatch_pic.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> KevkevBirdwatch </h3>
    <p>A website created for the unofficial SCU birdwatching club designed to connect the on-campus birdwatching commmunity and provide a platform for members to share their best finds. Includes features such as bird of the month, favorite birds gallery, members sign-in, commenting and discussion, and a contact page</p>
    <a class="project-link" target="_blank" href="https://www.kevkevbirdwatch.org/">Check it out</a>
  </div>
</div>

