<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img id="campscrape_pic" alt="Campground Availability" src="{{ "/assets/img/campground_availability.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CampScrape </h3>
    <p>A python script that allows the user to reserve campsites at popular campgrounds on short notice. Uses BeautifulSoup to web-scrape the recreation.gov website, then quickly notifies the user via slack or email when a campsite becomes available. Run using a cronjob on an AWS EC2 instance.</p>
    <a class="project-link" href="https://github.com/thomas-archer/CampScrape">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="birdwatch" src="{{ "/assets/img/birdwatch_pic.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> KevkevBirdwatch </h3>
    <p>A site for the unofficial school birdwatching club to connect the commmunity and provide a platform for members to share their best finds. Includes features such as bird of the month, favorite birds gallery, members sign-in, commenting and discussion, and a contact page</p>
    <a class="project-link" href="https://www.kevkevbirdwatch.org/">Check it out</a>
  </div>
</div>
