 <div class="user-details">
  <h1> About Me </h1>
</div>

<div class="about-description">
  <div class="about-image">
    <img id="profile_pic" style="border:1px solid #000000;max-width:300px;max-height:300px;border-radius: 50%;display: block;margin-left: auto;margin-right: auto;" alt="Profile Photo" src="{{ "/assets/img/me.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="about-contents">
    <h3 style="font-size:1.5rem; margin:none; font-weight: normal;">Hi there, my name is Thomas Archer. I’m a Computer Science student at Santa Clara University with a focus in data science. I have a passion for developing new technologies that improve the lives of those around me. I also love learning new things and the thrill of solving challenging problems.</h3>
  </div>
</div>
