#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
  margin-bottom: 10px;
}

.user-projects {
  margin: 20px auto;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  h5 {
    margin: 0;
  }
  li {
    color: $main;
    font-size: 1.1rem;
  }
  p {
    margin-right: 5px;
  }
}

#about_description {
  @media only screen and (min-width: $cut) {
    float: right;
    margin-top: -5%;
    width: 48%;
  }
}

#about-contents {
  @media only screen and (min-width: $cut) {
    float: right;
    margin-top: -5%;
    width: 48%;
  }
}

#about-image {
  @media only screen and (min-width: $cut) {
    float: left;
    width: 48%;
  }
  img {
    @media only screen and (min-width: $cut) {
      float: left;
    }
  }
}

#profile_pic {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.tech {
  margin: 10px;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}
